---
language: python
python: "2.7"

env:
  - POSTGRESQL_VERSION=9.3
  - POSTGRESQL_VERSION=9.4

before_install:
  # Remove the PostgreSQL installed by Travis
  - sudo apt-get purge pgdg-keyring '^postgresql.*' -y
  - sudo apt-get autoremove
  - sudo rm -rf /etc/postgresql
  - sudo rm -rf /var/lib/postgresql
  - sudo rm /etc/apt/sources.list.d/pgdg-source.list
  # Install some dependencies
  - sudo apt-get update -qq
  - sudo apt-get install -qq python-apt python-pycurl locales
  - echo 'en_US.UTF-8 UTF-8' | sudo tee /var/lib/locales/supported.d/local
install:
  - pip install ansible==1.8.4
script:
  - echo localhost > inventory

  # Syntax check
  - ansible-playbook -i inventory tests/test.yml --syntax-check

  # Play test
  - ansible-playbook -i inventory tests/test.yml --connection=local --sudo -e "postgresql_version=$POSTGRESQL_VERSION"

  # Idempotence test
  - ansible-playbook -i inventory tests/test.yml --connection=local --sudo -e "postgresql_version=$POSTGRESQL_VERSION" > idempotence_out
  - ./tests/idempotence_check.sh idempotence_out
