---
extends: default

rules:
  line-length:
    max: 300
    level: warning
  truthy: disable

  # comments: disable
  # comments-indentation: disable

  # colons: disable
  # braces: disable
  # commas: disable
  # indentation: disable
  # trailing-spaces: disable
  # document-start: disable
  # empty-lines: disable
  # new-line-at-end-of-file: disable
