# file: postgresql/tasks/main.yml

- include_vars: "{{ item }}"
  with_first_found:
    - "../vars/{{ ansible_os_family }}_{{ ansible_distribution_major_version }}.yml"
    - "../vars/{{ ansible_os_family }}.yml"
    - "../vars/empty.yml"
  tags: [always]

#
# Override defaults/main.yml with PostgreSQL version specific values
#
- include_vars: "{{ item }}"
  with_first_found:
    - "../vars/postgresql_{{ postgresql_version }}.yml"
    - "../vars/empty.yml"
  tags: [always]

- import_tasks: install_apt.yml
  when: ansible_pkg_mgr == "apt"
  tags: [postgresql, postgresql-install]

- import_tasks: install_rhel.yml
  when: (ansible_pkg_mgr == "yum" or ansible_pkg_mgr == "dnf") and (ansible_distribution == "RedHat" or ansible_distribution == "CentOS" or ansible_distribution == "OracleLinux" or ansible_distribution == "Rocky")
  tags: [postgresql, postgresql-install]

- import_tasks: install_fedora.yml
  when: ansible_pkg_mgr == "dnf" and ansible_distribution == "Fedora"
  tags: [postgresql, postgresql-install]

- import_tasks: extensions.yml
  tags: [postgresql, postgresql-extensions]

- import_tasks: fdw.yml
  tags: [postgresql, postgresql-fdw]

- import_tasks: configure.yml
  tags: [postgresql, postgresql-configure]

- import_tasks: users.yml
  tags: [postgresql, postgresql-users]

- import_tasks: databases.yml
  tags: [postgresql, postgresql-databases]

- import_tasks: schemas.yml
  tags: [postgresql, postgresql-schemas]

- import_tasks: users_privileges.yml
  tags: [postgresql, postgresql-users]

- import_tasks: monit.yml
  when: monit_protection is defined and monit_protection == true
  tags: [postgresql, postgresql-monit]

- import_tasks: check_pg_version_mismatch.yml
  tags: [postgresql, postgresql-version-mismatch]
