
#!/bin/sh

test ! -f "{{ postgresql_archive_directory }}/tmp" && mkdir -p "{{ postgresql_archive_directory }}/tmp"
pg_basebackup -D "{{ postgresql_archive_directory }}/tmp" -U postgres --checkpoint=fast --xlog-method=stream -R -l "Backup createt at $(hostname) on $(date)"
tar -zcvf "{{ postgresql_archive_directory }}/pg-basebackup-`hostname`-`date '+%Y-%m-%d.%H:%M:%S'`.tar.gz" {{ postgresql_archive_directory }}
rm -rf "{{ postgresql_archive_directory }}/tmp/*"
find {{ postgresql_archive_directory }} -mtime {{ postgresql_backup_prune }} -type f -name "pg-basebackup*" -delete


