
#!/bin/sh

test ! -f "{{ postgresql_backup_directory }}/tmp" && mkdir -p "{{ postgresql_backup_directory }}/tmp"
pg_dumpall -U postgres | tar cz > "{{ postgresql_backup_directory }}/pg-dumpall-`hostname`-`date '+%Y-%m-%d.%H:%M:%S'`.tar.gz"
find {{ postgresql_backup_directory }} -mtime {{ postgresql_backup_prune }} -type f -name "pg-dumpall*" -delete
