#!/bin/sh

test ! -f "{{ postgresql_backup_directory }}/tmp-basebackup" && mkdir -p "{{ postgresql_backup_directory }}/tmp-basebackup"
pg_basebackup -D "{{ postgresql_backup_directory }}/tmp-basebackup" -U postgres --checkpoint=fast --xlog-method=stream -R -l "Backup created at $(hostname) on $(date)"
tar -zcvf "{{ postgresql_backup_directory }}/pg-basebackup-`hostname`-`date '+%Y-%m-%d.%H:%M:%S'`.tar.gz" "{{ postgresql_backup_directory }}/tmp-basebackup"
rm -rf "{{ postgresql_backup_directory }}/tmp-basebackup"
find "{{ postgresql_backup_directory }}" -mtime {{ postgresql_backup_prune }} -type f -name "pg-basebackup*" -delete


