# {{ ansible_managed }}
# Systemd unit file override to specify user/group as well as separate config
# and data directories.
[Service]
User={{ postgresql_service_user }}
Group={{ postgresql_service_group }}

Environment=PGDATA={{ postgresql_conf_directory }}

ExecStartPre=
ExecStartPre={{ postgresql_check_db_dir_script.files[0].path }} {{ postgresql_data_directory }}
