# this is required when running sudo over ssh without -t:
Defaults:postgres !requiretty
postgres ALL = NOPASSWD: /usr/bin/systemctl stop postgresql-{{postgresql_version}}, \
   /usr/bin/systemctl start postgresql-{{postgresql_version}}, \
   /usr/bin/systemctl restart postgresql-{{postgresql_version}}, \
   /usr/bin/systemctl reload postgresql-{{postgresql_version}}
